<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WFFDR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WFFDR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WFFDR.Properties.Settings.hr_dbaseConnectionString"
            connectionString="Data Source=FM-MMERCADO-L;Initial Catalog=hr_dbase;Integrated Security=SSPI;" />
        <add name="WFFDR.Properties.Settings.hr_bakConnectionString"
            connectionString="Data Source=10.10.2.16,1433\SQLEXPRESS;Initial Catalog=Fedoramain;User ID=sa;Password=FMf3dor@2o20;MultipleActiveResultSets=true;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <WFFDR.Properties.Settings>
            <setting name="rpt_path" serializeAs="String">
                <value>C:\Reports</value>
            </setting>
            <setting name="hr_application_conn2" serializeAs="String">
                <value>Data Source=10.10.2.16,1433\SQLEXPRESS;Initial Catalog=Fedoramain;User ID=sa;Password=FMf3dor@2o20;MultipleActiveResultSets=true;</value>
            </setting>
            <setting name="hr_application_conn" serializeAs="String">
                <value>Data Source=10.10.2.16,1433\SQLEXPRESS;Initial Catalog=Fedoramain;User ID=sa;Password=FMf3dor@2o20;MultipleActiveResultSets=true;</value>
            </setting>
        </WFFDR.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <WFFDR.Properties.Settings>
            <setting name="hr_database_1ConnectionString1" serializeAs="String">
                <value>Data Source=FM-MMERCADO-L;Initial Catalog=hr_database_1;Integrated Security=SSPI;</value>
            </setting>
            <setting name="hr_database_1ConnectionString" serializeAs="String">
                <value>Data Source=FM-MMERCADO-L;Initial Catalog=hr_database_1;Integrated Security=SSPI;</value>
            </setting>
            <setting name="fdg" serializeAs="String">
                <value>C:\Reports</value>
            </setting>
        </WFFDR.Properties.Settings>
    </userSettings>
</configuration>